*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color : "#fff";
    --back : blue;
}

/* Header part Navigation */
header{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#header{
    width: 95%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;

}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>div{
    width: 70%;
}
/* Ul li header navigation */
.dnone{
    display: none;       
}
.navigation{
    width: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.navigation>ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
.navigation>ul>li{
    list-style: none;
    font-weight:bolder;
    font-family: "gilroymedium";
}





.signupbutton{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signupbutton>p{
    color: blue;
}
.signupbutton>button{
    width: 60%;
    background-color: blue;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "gilroymedium";
    padding: 15px;
    border-radius: 16px;
}

/* call To Action */
.callToAction{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
article{
    width: 60%;
    height: 80vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
article>div{
    width: 90%;
}
article>div>b{
    font-size: 5.5vw;
}
.grad{
    background: linear-gradient(to right,blue,#ffc3a0);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

article>div>p{
    margin-top: 10px;
}
.callToActionButton{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}
.callToActionButton>div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 50vh;
    /* background-color: aquamarine; */
}
.demo{
    background-color: blue;
    font-family: "gilroymedium";
    font-weight: bolder;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid blue;
    margin:10px;
    color: #fff;
}
.demo:nth-child(even){
    background-color: #fff;
    color: black;
}

/* features collection */
.features-services>h2{
    text-align: center;
    font-size: 3.4vw;
    margin-bottom: 10px;
}

.features{
    width: 100%;
    display: flex;
    justify-content:center;
    padding-bottom: 10%;
}
.feature-collection{
    width: 90%;
    display: flex;
    min-height: 400px;
    justify-content: space-between;
}
.feature-collection>div{

    background-image: url('./img/pexels-ketut-subiyanto-4353619.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;

    width: 33%;
    /* background-color: #ffc3a0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: "gilroymedium";
    color: #fff;
    border-radius: 10px;
}
.feature-collection>div:nth-child(2){
    background-image: url('./img/pexels-mart-production-7709216.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.feature-collection>div:nth-child(3){
    background-image: url('./img/download.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-clip: content-box;
}
.feature-collection>div>div{
    width: 100%;
    background-color: #00000045;
    padding: 10px;
}




/* benifite */
.benifite>h2{
    text-align: center;
    font-size: 3.4vw;
    margin-bottom: 10px;
}
.benefit{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sub-benefite{
    font-size: 1.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    min-width: 100px;
    width: 30%;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
.sub-benefite>img{
    width: 50px;
}
.sub-benefite:hover{
    background-color: blue;
    color: #fff;
}

.sub-benefite>a:hover{
    color:#fff;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
}



/* media */
@media (max-width:980px) {
    .navigation{
        display: none;
    }
    .dnone{
        display: block;
        width: 30%;

    }
    .signupbutton{
        width: 50%;
    }
    .signupbutton>button{
        width: 58%;
    font-size: 10px;
    padding: 4px;
    border-radius: 5px;
    }
    .feature-collection{
        flex-direction: column;
    }
    .feature-collection>div{
        width: 100%;
        height: 300px;
        margin-top: 10px;
    }
    .features-services>h2{
        font-size: 8vw;
    }
    .benifite>h2{
        font-size: 8vw;
    }
}